@typeparam TItem
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@inherits VUIElement

<div class="div-line" @onclick="InternalOnClicked"
     @onmouseenter="InternalOnMouseEnter"
     @onmouseleave="InternalOnMouseLeave"
     @onmouseup="InternalOnMouseUp"
     @onmousedown="InternalOnMouseDown"
     style="background-color:@BackgroundColor;
            background-image:@BackgroundImage;
            color:@Color;
            border:@Border;
            display:@Display;
            width:@Width;
            height:@Height;
            position:@Position;
            vertical-align:@VerticalAlign;
            cursor:@Cursor;
            justify-content:@JustifyContent;
            align-items:@AlignItems;
            margin:@Margin;
            z-index:@Z_Index;
            top:@Top
            left:@Left;
            bottom:@Bottom;
            right:@Right;
            
            transform:@Transform;
            
            flex-flow:@FlexFlow;
            flex-direction:@FlexFlow;
            overflow:@OverFlow;            
            padding:@Padding;
            
            user-select:none;">

    @foreach (var item in Items)
    {
        <VUIText FlexFlow="row" 
                 
                 Display="inline-block" 
                 Position="relative"
                 Height="max-content"
                 
                 Normal_Color=@Normal_Color
                 MouseEnter_Color=@MouseEnter_Color
                 MouseLeave_Color=@MouseLeave_Color
                 MouseDown_Color=@MouseDown_Color
                 MouseUp_Color=@MouseUp_Color
                 Clicked_Color=@Clicked_Color
                 
                 FontFamily=@FontFamily
                 FontSize=@FontSize
                 FontWeight=@FontWeight
                 
                 Margin="0 5px">
            @item
        </VUIText>
    }

</div>


<style>    
    .div-inlet {
            /* Add any button-specific styles here */
            /* width:max-content; */
            display: inline-block;
            position: relative;
            height: max-content;
        }
</style>