@typeparam TPiece
@inherits VUIElement

@* VUISide does not apply to itself 
   these 4 properties Display, Width, Height, Position.
   
   Instead, VUI containers like VUIPaper will 
   directly modify these properties using the following syntax:
   
   class="@View" 
*@
<div class="@View" 
     @onclick="InternalOnClicked"
     @onmouseenter="InternalOnMouseEnter"
     @onmouseleave="InternalOnMouseLeave"
     @onmouseup="InternalOnMouseUp"
     @onmousedown="InternalOnMouseDown"
     style="background-color:@BackgroundColor;
            background-image:@BackgroundImage;
            color:@Color;
            border:@Border;            
            vertical-align:@VerticalAlign;
            cursor:@Cursor;
            justify-content:@JustifyContent;
            align-items:@AlignItems;
            margin:@Margin;
            z-index:@Z_Index;
            top:@Top
            left:@Left;
            bottom:@Bottom;
            right:@Right;

            transform:@Transform;

            flex-flow:@FlexFlow;
            flex-direction:@FlexFlow;
            overflow:@OverFlow;
            padding:@Padding;

            user-select:none;">

    @if (ChildContent != null && Piece != null)
    {
        @ChildContent(Piece)
    }
</div>

