@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@inherits VUIElement


<div class="custom-text" id="@ID" @onclick="InternalOnClicked"
     @onmouseenter="InternalOnMouseEnter"
     @onmouseleave="InternalOnMouseLeave"
     @onmouseup="InternalOnMouseUp"
     @onmousedown="InternalOnMouseDown"
     style="background-color:@BackgroundColor;
            background-image:@BackgroundImage;
            color:@Color;
            border:@Border;
            display:@Display;
            width:@Width;
            height:@Height;
            position:@Position;
            vertical-align:@VerticalAlign;
            cursor:@Cursor;
            justify-content:@JustifyContent;
            align-items:@AlignItems;
            margin:@Margin;
            z-index:@Z_Index;
            top:@Top
            left:@Left;
            bottom:@Bottom;
            right:@Right;
            transform:@Transform;
            flex-direction:@FlexFlow;
            overflow:@OverFlow;
            font-family:@FontFamily;
            font-size:@FontSize;
            font-weight:@FontWeight;
            user-select:none;">
    @ChildContent
</div>



<script>
    // getInnerHtml.js
    window.getInnerHtml = function (elementId) {
        const element = document.getElementById(elementId);
        return element ? element.textContent : '';
    };

</script>